body {
    background-color: #222C30;
    color: #C3CFD4;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.bg {
    background-image: url("../../../images/festival.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(5px);
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
}

::-webkit-scrollbar {
    width: 8px; 
}

::-webkit-scrollbar-track {
    background-color: #222C30;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #726087AA;
    border-radius: 4px;
    height: 10px; 
}

header {
    background-color: #726087;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-evenly;
    transition: 400ms;
    opacity: 70%;
    position: fixed;
    width: 100%;
}

header:hover {
    opacity: 90%;
}

header div {
    width: 70%;
    justify-content: space-evenly;
}

header a:hover {
    font-size: 112%;
}

main {
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
}

.big {
    margin-top: 400px;
    width: 100%;
}

section {
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

article {
    background-color: #222C30CC;
    border-radius: 25px 0px 25px 0px;
    flex-direction: column;
    padding: 2%;
    width: 70%;
}

article div {
    display: flex;
    flex-direction: row-reverse;
}

form {
    width: 50%;
    flex-direction: column;
}

label {
    align-self: flex-start;
}

select {
    background-color: #726087;
    width: 30%;
    border-color: #726087;
    border-radius: 5px;
    border-style: solid;
}

input {
    background-color: #726087;
    border-color: #726087;
    border-radius: 5px;
    border-style: solid;
    width: 100%;
    margin: 1%;
}

input[type="radio"] {
    width: 80px;
    justify-self: start;
}

input[type="submit"] {
    background-color: #A07EC1;
    border-color: #A07EC1;
    color: #222C30;
    font-weight: bold;
    margin-top: 8%;
    width: 70%;
}

.flex {
    align-items: center;
    display: flex;
}

tr {
    border-color: #726087;
    border-width: 3px;
    border-style: solid;
    display: table-row;
}

td {
    padding: 10px;
}

table {
    border-collapse: collapse;
    border-radius: 20px;
    display: table;
}

a {
    color: #C3CFD4;
    font-size: 100%;
    margin: 10px;
    transition: 400ms;
    text-decoration: none;
}

a:hover {
    color: #FFFFFF;
}

.error {
    align-self: flex-start;
    color: #EA3939;
    font-size: 75%;
}